@use "../styles/base/variables" as *;

.announcement_wrapper {
  position: absolute;
  bottom: 100px;
  right: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 15px 25px;
  display: none;
}

.title {
  font-size: $fontSizeM;
  margin-bottom: 15px;
}

.p_block {
  position: relative;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 0 40px 0 0;
  line-height: 1.3rem;
}

.icon {
  position: absolute;
  font-weight: 900;
  transform: rotate(90deg) translateY(-10px);
}

@media (min-height: 940px) {
  .announcement_wrapper {
    display: block;
  }
}
