@use "../styles/base/variables" as *;

.announcement_wrapper {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: rgb(255, 255, 255);
  padding: 15px 25px;
  transition: 0.2s linear;
  z-index: 0;
}

.title {
  color: $colorTextGrayLight;
  font-size: $fontSizeM;
  margin-bottom: 15px;
}

.p_block {
  position: relative;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 0 40px 0 0;
  line-height: 1.3rem;
}

.icon_smile {
  position: absolute;
  font-weight: 900;
  transform: rotate(90deg) translateY(-10px);
}

.icon_close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 3px;
  right: 3px;
  color: hsl(210, 81%, 47%);
  font-size: 1.5rem;
  line-height: 1.5rem;
  border: none;
  background: transparent;
  transition: 0.3s linear;
  cursor: pointer;

  &:hover {
    color: $colorMain;
    background-color: $colorBlue;
  }
}

.hide {
  bottom: -20px;
}
