@use "../styles/base/variables" as *;

.announcement_wrapper {
  position: absolute;
  top: 10px;
  right: 0px;
  max-width: 405px;
  background-color: aliceblue;
  padding: 5px 15px;
}

.title {
  font-size: $fontSizeM;
  margin-bottom: 15px;
}

.p_block {
  position: relative;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 0 40px 0 0;
  line-height: 1.3rem;
}

.icon {
  position: absolute;
  font-weight: 900;
  transform: rotate(90deg) translateY(-10px);
}

@media (max-width: 1300px) {
  .announcement_wrapper {
    display: none;
  }
}
