@use "../styles/base/variables" as *;

.wraper {
  height: auto;
  width: 100%;

  .search_preview {
    display: inline-flex;
    align-items: baseline;
    margin-top: calc(3 * $spacingTablet);
    color: hsl(0, 0%, 45%);
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: calc(3 * $spacingTablet);
    height: 30px;

    .search_preview_value {
      color: hsl(0, 0%, 23%);
      font-family: "Lato", sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1rem;
      margin-left: 5px;
    }

    .search_preview_btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      padding: 3px;
      font-size: 1rem;
      font-family: inherit;
      border-radius: 4px;
      cursor: pointer;
      color: hsla(210, 81%, 47%, 0.5);
      background-color: hsl(0, 0%, 100%);
      border: 1px solid hsla(210, 81%, 47%, 0.5);
      transition: 0.3s;
    }

    .search_preview_btn:hover {
      color: hsl(0, 0%, 100%);
      background-color: hsl(210, 81%, 47%);
    }
  }

  .single_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: calc(2 * $spacingTablet);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: $whiteBackground;

    .single_row_block_title_and_issn {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: $spacingTablet;
    }

    .first_line,
    .second_line {
      width: 100%;
      display: flex;
      color: hsl(0deg, 0%, 45%);
      font-weight: 300;
    }

    .title {
      min-width: 50px;
    }

    .title_value {
      flex-grow: 1;
    }

    .issn,
    .eissn {
      padding-left: $spacingTablet;
      min-width: 135px;
    }
  }

  .value {
    @include marginLeft;
    font-weight: 600;
    color: hsl(0, 0%, 22%);
  }

  .result_row {
    display: grid;
    grid-template-columns: auto 120px 120px;
    padding: 10px 0 20px 0;
  }

  .present_result_title {
    margin-top: 40px;
    font-weight: 300;
    color: hsl(0deg, 0%, 45%);
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .present_results_wrap {
    display: grid;
    grid-template-columns: $weight $weight $weight $weight $weight $weight $weight;
    padding: 10px 0 10px 0;
  }

  .col_hide_or_show {
    display: block;
    visibility: hidden;
  }

  @media only screen and (max-width: 700px) {
    .result_tab {
      grid-template-columns: auto 100px 100px;
    }

    .col {
      .col_value_title_journal {
        line-height: normal;
        text-align: left;
        padding-left: 10px;
      }

      .col_value {
        white-space: normal;
      }
    }

    .col_hide_or_show {
      display: block;
      visibility: hidden;
    }

    .points_and_position {
      flex-direction: column;
      align-items: center;
    }
  }

  @media only screen and (max-width: 840px) {
    .col {
      .col_value_title_journal {
        display: block;
        line-height: normal;
        text-align: left;
        padding-left: 10px;
      }

      .col_value {
        height: auto;
      }
    }
  }

  @media only screen and (max-width: 430px) {
    .col {
      .col_title {
        font-size: 0.85rem;
      }

      .col_value {
        font-size: 0.85rem;
      }
    }
  }
}
