form {
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 90%;
  max-width: 550px;

  label {
    width: 100%;

    .search {
      height: 42px;
      width: 100%;
      padding: 5px 15px;
      font-size: 1.1rem;
      font-family: inherit;
      font-weight: 400;
      border: 1px solid hsl(0, 0%, 66%);
    }

    .search::placeholder {
      font-weight: 300;
    }
  }

  button {
    padding: 0 25px;
    font-size: 1.1rem;
    font-family: inherit;
    cursor: pointer;
    color: hsl(210, 81%, 47%);
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(210, 81%, 47%);
    border-left: none;
    transition: 0.3s;
  }

  button:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(210, 81%, 47%);
  }
}
