.search_bar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  max-width: 600px;
  width: 90%;
  font-family: inherit;


  label {
    position: relative;
    width: 100%;

    .search_icon{
      position: absolute;
      top: 50%;
      left: 37px;
      font-size: 27px;
      transform: translate(-50%, -50%);
      color: #b9bac5;
    }

    .search {
      width: 100%;
      padding: 15px 25px 15px 65px;
      font-size: 1.2rem;
      font-family: inherit;
      font-weight: 400;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: hsl(210, 29%, 97%);
      border: 3px solid hsla(240, 9%, 75%, 0.5);
      border-right: 0;
      box-shadow: 0px 0px 0px hsla(0, 0%, 0%, 0.01);
      transition: .2s;

      &:focus{
        box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.2);
      }
    }

    .search::placeholder {
      font-weight: 300;
    }
  }

  .submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    font-size: 1.6rem;
    font-family: inherit;
    color: hsl(210, 81%, 47%);
    background-color: hsl(210, 29%, 97%);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    border: 3px solid hsla(240, 9%, 75%, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
  }

  .submit_btn:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(210, 81%, 47%);
    border-right: 3px solid hsla(240, 9%, 75%, 0.5);
    border-top: 3px solid hsla(240, 9%, 75%, 0.5);
    border-bottom: 3px solid hsla(240, 9%, 75%, 0.5);
    box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.2);
  }
}
